<% if user_signed_in? %>
  <h1>Welcome to Knit Patterns! You are signed in as <%= current_user.email %>.</h1>
  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
<% else %>
  <h1>Welcome to Knit Patterns!</h1>
  <br></br>
  <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>
<% end %>
